<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PG Feedback System</title>
    <link rel="stylesheet" href="feedback.css">
</head>
<body>

<div class="feedback-container">
    <h2>PG Feedback Form</h2>


<form id="feedbackForm">
        <label>User Name</label>
        <input type="text" id="username" placeholder="Enter your name" required>

        <label>Feedback Type</label>
        <select id="Feedbacktype" required onchange="changeField()">
            <option value="">-- Select Type --</option>
            <option value="Room">Room</option>
            <option value="Vehicle">Vehicle</option>
            <option value="Other">Other</option>
        </select>

        <div id="dynamicField"></div>
    	<label>Feedback Description</label>
        <textarea id="description" placeholder="Describe your problem" required></textarea>

        <label>Priority</label>
        <select id="priority" required>
            <option value="">-- Select Priority --</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>

        <button type="submit">Submit Feedback</button>
    </form>

    <p id="message"></p>
</div>

<script src="feedbackscript.js"></script>
</body>
</html>

    




